/* Start Variables */
:root {
  --color1: rgb(174, 174, 174);
  --color2: #0199ff;
  --transitionDuration: 0.2s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}
body {
  font-family: "Georama", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */

/* End Global Components */

/* Start Header */
header .container {
  display: flex;
  align-items: center;
}
header .container .logo {
  flex-grow: 0.2;
}
header .container .logo a img {
  width: 80px;
}
header .container nav {
  flex-grow: 0.6;
}
header .container nav ul {
  display: flex;
  justify-content: space-evenly;
}
header .container nav ul li {
  padding: 10px;
}
header .container nav ul li a {
  color: var(--color1);
  transition-duration: var(--transitionDuration);
  font-weight: 600;
}
header .container nav ul li:hover {
  border-radius: 20px;
  background-color: var(--color1);
}
header .container nav ul li:hover a {
  color: white;
}
header .container .sign {
  flex-grow: 0.2;
}
header .container .sign ul {
  display: flex;
  justify-content: space-evenly;
}
header .container .sign ul li {
  padding: 10px;
}
header .container .sign ul li a {
  color: var(--color1);
  transition-duration: var(--transitionDuration);
  font-weight: 600;
}
header .container .sign ul li:first-child a {
  color: var(--color2);
}
header .container .sign ul li:first-child:hover {
  background-color: var(--color2);
  border-radius: 20px;
}
header .container .sign ul li:first-child:hover a {
  color: white;
}
header .container .sign ul li:nth-child(2) {
  background-color: var(--color2);
  border-radius: 20px;
}
header .container .sign ul li:nth-child(2):hover {
  background-color: white;
}
header .container .sign ul li:nth-child(2):hover a {
  color: var(--color2);
}
header .container .sign ul li a {
  color: white;
}
@media (max-width: 767px) {
  header .container .logo {
    margin: auto;
  }
  header .container .logo a {
    text-align: center;
  }
  header .container nav,
  header .container .sign {
    display: none;
  }
}
/* End Header */
/* Start Landing Section */
.landing {
  text-align: center;
}
.landing .container {
  margin-top: 80px;
}
.landing .container h1 {
  font-size: 70px;
  margin: 30px;
}
.landing .container p {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.8;
  width: 80%;
  margin: auto auto 40px;
}
.landing .container form {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}
.landing .container form input {
  outline: none;
  border: none;
  border-radius: 20px;
  transition-duration: var(--transitionDuration);
}
.landing .container form input:first-child {
  flex-basis: 400px;
  background-color: rgb(202, 202, 202);
  padding: 10px;
  margin-right: 20px;
  color: black;
}
.landing .container form input:first-child::placeholder {
  color: white;
}
.landing .container form input:first-child:focus {
  border: 1px solid var(--color2);
  background-color: white;
}
.landing .container form input:nth-child(2) {
  flex-basis: fit-content;
  background-color: var(--color2);
  color: white;
  padding: 10px 30px;
}
.landing .container form input:nth-child(2):hover {
  background-color: #0088f0;
}
.landing .container form input:nth-child(2):active {
  background-color: #33adff;
}
@media (max-width: 767px) {
  .landing .container h1 {
    font-size: 45px;
  }
  .landing .container p {
    font-size: 20px;
  }
  .landing .container form {
    flex-direction: column;
  }
  .landing .container form input:first-child {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 10px;
  }
}
/* End Landing Section */
