/* Start Variables */
:root {
  --color1: rgb(174, 174, 174);
  --color2: #0199ff;
  --transitionDuration: 0.2s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}
body {
  font-family: "Georama", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */
.main-button {
  text-align: center;
  background-color: var(--color2);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  width: fit-content;
}
.main-button:hover {
  background-color: #0088f0;
}
.main-button:active {
  background-color: #33adff;
}
/* End Global Components */

/* Start Header */
header {
  padding-top: 10px;
}
header .container {
  display: flex;
  align-items: center;
}
header .container .logo {
  flex-grow: 0.5;
}
header .container .logo a img {
  width: 80px;
}
header .container nav {
  flex-grow: 0.6;
}
header .container nav ul {
  display: flex;
  justify-content: space-evenly;
}
header .container nav ul li {
  padding: 10px;
}
header .container nav ul li a {
  color: var(--color1);
  transition-duration: var(--transitionDuration);
  font-weight: 600;
}
header .container nav ul li:hover {
  border-radius: 20px;
  background-color: var(--color1);
}
header .container nav ul li:hover a {
  color: white;
}
header .container .sign {
  flex-grow: 0.15;
}
header .container .sign ul {
  display: flex;
  justify-content: flex-end;
}
header .container .sign ul li {
  padding: 10px;
}
header .container .sign ul li:last-child {
  margin-left: 20px;
}
header .container .sign ul li a {
  color: var(--color1);
  transition-duration: var(--transitionDuration);
  font-weight: 600;
  text-transform: capitalize;
}
header .container .sign ul li:first-child a {
  color: var(--color2);
}
header .container .sign ul li:first-child:hover {
  background-color: var(--color2);
  border-radius: 20px;
}
header .container .sign ul li:first-child:hover a {
  color: white;
}
header .container .sign ul li:nth-child(2) {
  background-color: var(--color2);
  border-radius: 20px;
}
header .container .sign ul li:nth-child(2):hover {
  background-color: white;
}
header .container .sign ul li:nth-child(2):hover a {
  color: var(--color2);
}
header .container .sign ul li a {
  color: white;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  header .container .logo {
    margin: auto;
  }
  header .container .logo a {
    text-align: center;
  }
  header .container nav,
  header .container .sign {
    display: none;
  }
}
/* End Header */
/* Start Landing Section */
.landing {
  text-align: center;
}
.landing .container {
  margin-top: 80px;
}
.landing .container h1 {
  font-size: 70px;
  margin: 30px;
}
.landing .container p {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.8;
  width: 80%;
  margin: auto auto 40px;
}
.landing .container form {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}
.landing .container form input {
  outline: none;
  border: none;
  border-radius: 20px;
  transition-duration: var(--transitionDuration);
}
.landing .container form input:first-child {
  flex-basis: 400px;
  background-color: rgb(202, 202, 202);
  padding: 10px;
  margin-right: 20px;
  color: black;
}
.landing .container form input:first-child::placeholder {
  color: white;
}
.landing .container form input:first-child:focus {
  border: 1px solid var(--color2);
  background-color: white;
}
@media (max-width: 767px) {
  .landing .container h1 {
    font-size: 45px;
  }
  .landing .container p {
    font-size: 20px;
  }
  .landing .container form {
    flex-direction: column;
  }
  .landing .container form input:first-child {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .landing .container form input:nth-child(2) {
    width: 100%;
  }
}
/* End Landing Section */
/* Start articles Section */
.articles {
  margin-top: 100px;
  margin-bottom: 100px;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.articles .container .article {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
  transition-duration: var(--transitionDuration);
}
.articles .container .article:hover {
  transform: translateY(-10px);
}
.articles .container .article .image img {
  width: 100%;
}
.articles .container .article .content {
  padding: 25px;
}
.articles .container .article .content .type {
  color: hsl(258deg 100% 67%);
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
}
.articles .container .article .content .title {
  font-weight: 800;
  margin-bottom: 15px;
  font-size: 22px;
}
.articles .container .article .content .date {
  color: hsl(0deg 0% 0% / 50%);
  margin-bottom: 15px;
  font-size: 14px;
}
/* End articles Section */
/* Start Footer */
footer {
  padding-bottom: 100px;
}
footer .container {
  display: flex;
  justify-content: space-around;
}
footer .container .logo a img {
  width: 100px;
}
footer .container .more h3,
footer .container .support h3 {
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 10px;
}
footer .container .more ul li:not(li:last-child) {
  margin-bottom: 10px;
}
footer .container .more ul li a,
footer .container .support a {
  font-size: 17px;
  color: var(--color1);
  transition-duration: var(--transitionDuration);
}
footer .container .more ul li a:hover,
footer .container .support a:hover {
  transform: translateX(10px);
  color: black;
  font-weight: 600;
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
  }
  footer .container > * {
    margin: auto auto 30px;
    text-align: center;
  }
}
/* End Footer */
/* Start Post Section */
.box {
  margin-top: 60px;
  margin-bottom: 60px;
}
.box .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .container .box-container {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
}
.box .container .box-container .author {
}
.box .container .box-container form input[type="text"],
.box .container .box-container form input[type="mail"],
.box .container .box-container form input[type="password"],
.box .container .box-container form textarea {
  display: block;
  border: none;
  outline: none;
  resize: none;
  margin: 20px 0;
  color: black;
  transition-duration: var(--transitionDuration);
  border-radius: 20px;
  padding: 10px;
  border: solid transparent 1px;
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.box .container .box-container form input::placeholder,
.box .container .box-container form textarea::placeholder {
  color: var(--color1);
}

.box .container .box-container form input[type="submit"] {
  display: flex;
  margin-left: auto;
}
.box .container .box-container form[class="sign"] input[type="text"],
.box .container .box-container form[class="sign"] input[type="mail"],
.box .container .box-container form[class="sign"] input[type="password"],
.box .container .box-container form[class="sign"] a {
  font-size: 12px;
  color: var(--color2);
  text-decoration: none;
  transition-duration: var(--transitionDuration);
  width: 40%;
  border: transparent 1px solid;
  border-radius: 0px;
  padding: 0;
}
.box .container .box-container form[class="sign"] input[type="text"]:focus,
.box .container .box-container form[class="sign"] input[type="mail"]:focus,
.box .container .box-container form[class="sign"] input[type="password"]:focus {
  transform: translateX(20px);
  width: calc(100% - 20px);
  border-bottom: var(--color2) 1px solid;
}
.box .container .box-container form .checkbox {
  margin: 20px 0;
}
.box .container .box-container form .checkbox .checkbox-title,
.box .container .box-container form .checkbox label {
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: var(--color1);
  font-size: 12px;
}
.box .container .box-container form .checkbox .checkbox-title {
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0;
}
.box .container .box-container form .already {
  margin-top: 40px;
}
.box .container .box-container form .already:hover {
  text-decoration: underline;
}
/* End Post Section */
.error-section .container .error {
  background-color: rgb(211, 97, 97);
  color: white;
  border-radius: 10px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
  font-size: 15px;
  padding: 20px;
  text-align: center;
  margin: 60px auto -30px;
}
.error-section .container .error h4 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 991px) {
  .box .container,
  .error-section .container .error {
    width: 100%;
  }
  .box .container .box-container,
  .error-section .container .error {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .box .container .box-container,
  .error-section .container .error {
    width: 50%;
  }
}
